.nested-fields.answers
  .row-fluid
    .possible-answer.span6.offset1
      %table
        %tr
          %td= f.input_field :content
          %td= f.input :correct, label: 'Correct?', wrapper: :default
          %td= link_to_remove_association "Remove", f, {class: 'btn btn-danger'}
