= simple_form_for(@quiz, wrapper: :bootstrap, html: {:class => 'form-horizontal' }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title

    .quiz-questions.offset1
      = f.simple_fields_for :questions do |qf|
        = render "question_fields", :f => qf

      .add-question-action
        = link_to_add_association 'Add Question', f, :questions, {class: 'btn'}

  .form-actions
    = f.button :submit, "Save", class: 'btn btn-primary'
    = btn_link_to 'Cancel', :back
