%table.table
  %thead
    %th
    %th Assigned On
  %tbody
    - @quizz_assignments.each do |assignment|
      - quiz = assignment.assignable
      %tr
        %td= link_to quiz.title, quiz
        %td= l assignment.updated_at, format: :medium
        %td= link_to 'Take', take_quiz_assignment_path(quiz, assignment), class: 'btn'
