.nested-fields.questions
  .remove-question
    = link_to_remove_association "Remove Question", f, {class: 'btn btn-danger'}

  = f.input :content, :label=> "Question", :input_html => { rows: 3, class: 'span5' }

  .answer_fields
    %h5.possible-answers Possible Answers:
    = f.simple_fields_for :answers do |af|
      = render :partial => "answer_fields", :locals => {:f => af}

  .add-answers.offset2
    = link_to_add_association 'Add Answer', f, :answers , { class: 'btn' }

