-# Here we show completed quiz to a person who completed it
.page-header
  %h1= h @quizTake.quiz.title

%h3 Result: #{ @quizTake.score }

- @quizTake.answers.each_with_index do |ans, idx|
  .well
    %h3 Question #{idx + 1}
    %p
      = h ans.question.content

      %ol
        - ans.question.answers.each do |answer|
          %li
            - if ans.answer == answer
              %strong= h answer.content
              - if answer.correct?
                %i.icon-ok
              - else
                %i.icon-remove
            - else
              = h answer.content
              - if answer.correct?
                %i.icon-ok
