%h1  Quizzes

%table#quizzes_index.table
  %thead
    %th #
    %th Name
    %th Created
    %th Assignments
    %th Status
    %th
  %tbody
    - @quizzes.each_with_index do |quiz, i|
      %tr
        %td{width: '2em'}= i+1
        %td= link_to quiz.title, quiz
        %td= l quiz.created_at, format: :medium
        %td= link_to 'Assignments', quiz_assignments_path(quiz)
        %td= quiz_assignments_status(quiz)
        %td{width: "30%"}
          - if can? :assign, Quiz
            = link_to 'Assign', new_quiz_assignment_path(quiz), class: 'btn'
          = btn_link_to 'Edit', edit_quiz_path(quiz)
          = link_to quiz, :confirm => 'Are you sure?', method: :delete, class: 'btn btn-danger' do
            %i.icon-remove

%br

= btn_link_to 'New Quiz', new_quiz_path
