.page-header
  %h1 Quiz #{h @quiz.title}

- @quiz.questions.each do |q|
  .well
    %p= h q.content
    %ol
      - q.answers.each do |a|
        %li
          - if a.correct?
            %strong= h a.content
          - else
            = h a.content

.form-actions
  = link_to 'Quizzes', quizzes_path
