.page-header
  %h1= h @quizTake.quiz.title

= simple_form_for(@quizTake, url: complete_quiz_assignment_path(@quizTake.quiz, @assignment)) do |f|
  = f.error_notification
  -# we are going to pass existing values to the complete method
  = f.hidden_field :started_at
  - @quizTake.answers.each_with_index do |ans, idx|
    .well
      %h3 Question #{idx + 1}
      %p
        = h ans.question.content

        = f.simple_fields_for :answers, ans do |answer_form|
          = answer_form.hidden_field :question_id
          = answer_form.association :answer, label_method: :content,  as: :radio_buttons, collection: ans.question.answers

  .form-actions
    = f.button :submit, class: 'btn-primary'
