= simple_form_for :message, url: [:reply, conversation] do |f|
  -#= f.input :subject
  = f.input :body , :as => :text,  :input_html => { :rows => 4 , :class => "span6"}
  .form-actions
    = f.button :submit, class: 'btn-primary'
    = link_to 'Cancel', conversations_path, class: 'btn btn-danger'
