%h2
  You're almost done!
  %small Now create a password to securely access your account.
= simple_form_for(resource, :as => resource_name, :url => confirm_path, wrapper: :bootstrap, html: { class: 'form-horizontal' }) do |form|
  = form.error_notification
  .form-inputs
    = form.input :password, :input_html => {:autofocus => true}
    = form.input :password_confirmation
    = form.input :confirmation_token, :as => :hidden
  .form-actions
    = form.button :submit, :label => 'Confirm Account'
