%ul.nav.nav-pills
  -# TODO: refactor it
  = nav_active_if /by$|for$/ =~ request.fullpath do
    = link_to 'All', path_before_question_mark
  -# TODO: refactor it
  = nav_active_if /forms$/ =~ request.fullpath do
    = link_to 'Forms', "#{path_before_question_mark}?forms"
  -# TODO: refactor it
  = nav_active_if /reports$/ =~ request.fullpath do
    = link_to 'Reports', "#{path_before_question_mark}?reports"
