= simple_form_for [@assignable, @assignment], wrapper: :bootstrap, html: { class: 'form-horizontal'} do |f|
  = f.error_notification

  .form-inputs
    = render partial: 'shared/user_or_group', locals: { recipient_list_label: "Assign To", sendable: "assignment"}
    = f.input :due_date, as: :date_picker

  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = btn_link_to "Cancel", :back

