.page-header
  %h1
    Assignments
    %small list of assignments sent by  #{h @user.name}

= render 'assignments/assignment_types'

%table.table
  %tr
    %th #
    %th Assignment
    %th Assigned To
    %th Status
    %th Due Date
    %th

    - @assignments.each_with_index do | assignment, i|
      %tr
        %td= i+1
        %td= link_to assignment.assignable.title, paper_form_path(assignment.assignable)
        %td= link_to assignment.recipient.name, for_user_assignments_path(assignment.recipient)
        %td= assignment_status(assignment)
        %td= assignment.due_date
        %td
          = btn_link_to 'View Answers', completed_paper_form_assignment_path(assignment.assignable, assignment) if !can_be_taken?(assignment)
