.page-header
  %h1= h @response_set.paper_form.title

- @response_set.responses.each do |response|
  .well
    %p
      = h response.article.content

    - if response.article.response_type == 'choice'
      %ol
        - response.article.replies.each do |reply|
          - if response.reply == reply
            %li
              %strong= h reply.content
          - else
            %li= h reply.content
    - else
      -# XXX:
      - m = %w(integer string float).drop_while {|m| response.send((m+'_value').to_sym).nil?}.first
      %br
      %strong= h response.send(m+'_value')
