.page-header
  %h1
    Assignments
    %small List of assignments for #{h @user.name}

%table.table
  %tr
    %th #
    %th Assignment
    %th Assigned by
    %th Status
    %th Due Date
    %th

    - @assignments.each_with_index do | assignment, i|
      %tr
        %td= i+1
        %td= link_to assignment.assignable.title, paper_form_path(assignment.assignable)
        %td= link_to assignment.sender.name, by_user_assignments_path(assignment.sender)
        %td= assignment_status(assignment)
        %td= assignment.due_date
        %td
          = btn_link_to 'Take', take_paper_form_assignment_path(assignment.assignable, assignment) if can_be_taken?(assignment)

