.page-header
  %h1
    #{h @assignable.title}
    %small list of assignments

%table.table#assignments_list
  %thead
    %th #
    %th Assigned By
    %th To
    %th Status
    %th Assigned On
    %th Due Date
    %th
    %th
  %tbody
    - @assignments.each_with_index do | assignment, i|
      %tr{ class: "#{assignment.completed_at.nil? ? 'warning' : 'success'}" }
        %td= i+1
        %td= link_to assignment.sender.name, for_user_assignments_path(assignment.sender)
        %td= link_to assignment.recipient.name, for_user_assignments_path(assignment.recipient)
        %td= assignment.completed_at.nil? ? "Pending" : "Completed"
        %td= l assignment.created_at, format: :medium
        %td= l assignment.due_date, format: :medium
        -# TODO: Make sure all these ifs are gone for a common logic for all assignments
        - if @assignable.is_a? PaperForm
          %td= btn_link_to 'Results', completed_paper_form_assignment_path(@assignable, assignment)  unless assignment.completed_at.nil?
        - elsif @assignable.is_a? Quiz
          %td= btn_link_to 'Results', completed_quiz_assignment_path(@assignable, assignment)  unless assignment.completed_at.nil?

        %td= btn_link_to 'Delete', [@assignable, assignment], :confirm => 'Are you sure?', :method => :delete


.well
  = btn_link_to 'New Assignment', [:new, @assignable, :assignment]

