.page-header
  %h1= h @response_set.paper_form.title

= simple_form_for @response_set, url: complete_paper_form_assignment_path  do |f|

  = f.error_notification
  - @response_set.responses.each do |resp|
    .well
      %p
        = h resp.article.content

        = f.simple_fields_for :responses, resp do |response_form|
          = response_form.hidden_field :article_id
          - if resp.article.response_type == 'string'
            = response_form.input :string_value
          - elsif resp.article.response_type == 'integer'
            = response_form.input :integer_value
          - elsif resp.article.response_type == 'float'
            = response_form.input :float_value
          - elsif resp.article.response_type == 'choice'
            = response_form.association :reply, label_method: :content,  as: :radio_buttons, collection: Reply.where(article_id: resp.article)

  .form-actions
    = f.button :submit, 'Submit Form', class: 'btn-primary'


