-# %h2
-#  Edit #{resource_name.to_s.humanize} #{resource.name}
- resource.build_profile if resource.profile.blank?

= devise_error_messages!

- content_for :passwords


= render partial: 'shared/users/user_form', locals: { form_url: registration_path(resource_name), html_opts:  { :method => :put }, password_changeable: true, child_new_url: user_new_child_path(@user)}

.row
  .span8.offset4
    %h3 Cancel my account
    %p
      Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete}.

= link_to "Back", :back
