%h2
  Sign up
  %small Please, leave us your email and we will email your instructions on how to log into the system.

.well
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form-horizontal' }, wrapper: :bootstrap) do |f|
    = f.error_notification
    .form-inputs
      = f.input :email, :required => true, :autofocus => true
    .form-actions
      = f.button :submit, "Sign Up", class: 'btn btn-primary'

= render "devise/shared/links"
