%h2
  Signing Up Using PIN
  %small Please, enter your email and a PIN that has been given to you.

.well
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form-horizontal' }, wrapper: :bootstrap) do |f|
    = f.error_notification
    .form-inputs
      = f.input :email, :required => true, :autofocus => true
      = f.input :pin,   :required => true
    .form-actions
      = f.button :submit, "Sign Up", class: 'btn btn-primary'

= render "devise/shared/links"
