.page-header
  %h1 Import Users From File

%p
  A CSV or Excel file can be used to import records. The first row should be the column name. The following columns are allowed.

  %ul
    - User.columns.each do |column|
      - if column.name.in? ["id", *User.accessible_attributes]
        %li
          %strong=  column.name
          %span -
          = column.type.to_s.titleize
          type

%p
  If an
  %strong id
  is supplied it will update the matching record instead of creating a new one.

= simple_form_for(@user_import, wrapper: :bootstrap, url: :admin_user_imports ) do |f|
  - if @user_import.errors.any?
    #error_explanation
      %h2
        = pluralize(@user_import.errors.count, "error")
        prohibited this import from completing:
      %ul
      - @puser_import.errors.full_messages.each do |msg|
        %li= msg

  = f.file_field :file

  .form-actions
    = f.submit "Import", class: 'btn'
