.page-header
  %h1
    Reports
    %small submitted by teachers for your children

  %table.table
    %thead
      %th #
      %th Report
      %th Child
      %th Teacher
      %th Submission Date

    - @report_submissions.each_with_index do |report_sub, i|
      %tr
        %td= i+1
        %td= link_to report_sub.report.title, parent_report_report_submission_path(report_sub.report, report_sub)
        %td= link_to report_sub.child.name, report_sub.child
        %td= link_to report_sub.user.name, report_sub.user
        %td= l report_sub.updated_at, format: :medium

