= simple_form_for(:conversation, :url => :conversations) do |f|
  = f.error_notification

  .form-inputs
    = f.input :recipients
    = f.input :subject
    = f.input :body, :as => :text,  :input_html => { :rows => 8 , :class => "span6", value: ""}

  .form-actions
    = f.button :submit, class: 'btn-primary'
    = link_to 'Cancel', conversations_path, class: 'btn btn-danger'


.users-list
  
  %table.table.table-bordered.table-striped
    %th
      List of users
    - @users.each do |user|
      %tr
        %td= user.name
