%table.table#home_page_conversations
  %thead
    %th Subject
    %th Received
  %tbody
    - @messages.each do |msg|
      %tr
        %td= link_to msg.subject, msg.conversation
        %td= l msg.created_at, format: :medium
