.page-header
  %h1
    Conversations

- unless mailbox.inbox.empty?
  %section
    %h2
      Inbox

    %table.table
      - mailbox.inbox.each do |m|
        %tr
          %td= m.originator.name
          %td= m.subject
          %td{:width=>"30%"}
            = btn_link_to 'Show', m
            = btn_link_to 'Trash', trash_conversation_path(m), :confirm => 'Are you sure?', :method => :post

- unless mailbox.sentbox.empty?
  %section
    %h2
      Sent
    %table.table
      - mailbox.sentbox.each do |m|
        %tr
          %td= m.originator.name
          %td= m.subject
          %td{:width=>"30%"}
            = btn_link_to 'Show', m
            = btn_link_to 'Trash', trash_conversation_path(m), :confirm => 'Are you sure?', :method => :post

- unless mailbox.trash.empty?
  %section
    %h2
      Trash

    %table.table
      -  mailbox.trash.each do |m|
        %tr
          %td= m.originator.name
          %td= m.subject
          %td{:width=>"30%"}
            = btn_link_to 'Show', m
            = btn_link_to 'UnTrash', untrash_conversation_path(m), :confirm => 'Are you sure?', :method => :post

= btn_link_to 'Start Conversation', :new_conversation
