%p#notice= notice

%h1= conversation.subject

.conversation_area
  %ul.conversation_trail
    = content_tag_for(:li, conversation.receipts_for(current_user)) do |receipt|
      - message = receipt.message
      -# %h3= message.subject
      %strong= message.sender.name
      %p= message.body

= render 'messages/form', conversation: conversation
