= simple_form_for @announcement, html: { class: 'form-vertical', multipart: true} do |f|
  = f.error_notification

  .form-inputs
    = render partial: 'shared/user_or_group', locals: { recipient_list_label: "Announce To", sendable: "announcement_message"}

    = f.input :content, input_html: { rows: 5, class: "span5"}

    = f.file_field :attachment

  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = btn_link_to "Cancel", :back
