%table#home_page_announcements.table.table-condensed
  %thead
    %th Content
    %th{width: '30px'}
    %th{width: '15%'} From
    %th{width: '15%'} Sent
  %tbody
    - @all_announcements.each do |announcement|
      %tr
        %td
          = link_to truncate(h(content(announcement))), "#modal_announcement_#{announcement.id}",  data: {toggle: "modal"}
          .modal.hide.fade{id: "modal_announcement_#{announcement.id}", role: "dialog", aria: { ehidden: "true" }}
            .modal-header
              %button{type: "button", class: "close", data: { dismiss: "modal"}, aria: { hidden: "true"}} ×
              %h3 From: #{announcement.author.name}
            .modal-body
              %p= h content(announcement)
              - if announcement.attachment?
                %p
                  = link_to announcement.attachment_file_name, announcement.attachment.url, target: "_blank"

        %td
          - if announcement.attachment?
            = link_to announcement.attachment.url, target: "_blank" do
              %i.icon-paper-clip

        %td= link_to announcement.author.name, user_announcement_messages_path(announcement.author)
        %td
          = distance_of_time_in_words_to_now announcement.updated_at
          ago
