- announcements.each do |ann|
  = content_tag :div, class: "alert alert-info", :id => "announcement_#{ann.id}" do
    = content_tag :a, class: "close", href: "#", data: { dismiss: "alert"}  do
      %span.small Confirm read
      &#215;
    = content_tag :div do
      %h4
        From:
        = ann.author.name
      = ann.content
      - unless ann.link.nil?
        %br
        = link_to "More", ann.link
      - if ann.attachment?
        %br
        = link_to ann.attachment_file_name, ann.attachment.url, target: "_blank"
      :javascript
        $("#announcement_#{ann.id}").bind('close', function () {
          $.ajax({
            url: "#{ announcement_message_unshow_path(ann) }"
            });
        });
