.page-header
  %h1
    Announcements
    - if can? :create, AnnouncementMessage
      = link_to 'Create New', new_announcement_message_path, {class: 'btn btn-success'}


%table#announcements.table.datatable
  %thead
    %th #
    %th Content
    %th Author
    %th Recipients
    %th Sent
    %th

  %tbody
    - @announcements.each_with_index do |announcement, index|
      %tr
        %td= index+1
        %td= link_to announcement.content, announcement
        %td= announcement.author.name
        %td= link_to_recipients_if_many_or_name announcement
        %td= l announcement.created_at, format: :medium
        %td
          - if can? :resend, AnnouncementMessage
            = link_to 'Resend', resend_announcement_message_path(announcement), class:'btn btn-primary resend-button', remote: true, method: :post, confirm: 'Do you want to resend this announcement?'
          - if can? :delete, AnnouncementMessage
            = link_to announcement, :confirm => 'Are you sure?', :method => :delete , class: 'btn btn-danger' do
              %i.icon-remove
:javascript
  jQuery(function($) {
    $(".resend-button")
      .bind("ajax:success", function(event, data, status, xhr) {
        $('<div id="announcement_3" class="alert alert-success"><a href="#" data-dismiss="alert" class="close">× </a><div>Announcement has been re-sent.</div></div>').insertBefore('.page-header');
      });
  });
