%h1 Past Announcements For #{current_user.name }

%table#past_announcements.table
  %thead
    %th From
    %th Content
    %th Sent
    %th Seen
    %th
  %tbody
    - @announcements.each do |announcement|
      %tr
        %td= announcement.author.name
        %td= announcement.content
        %td= announcement.created_at.strftime("%h %d %H:%M:%S")
        %td= announcement.updated_at.strftime("%h %d %H:%M:%S")
        %td= btn_link_to 'Show', announcement
