%h1 Recipient of the Announcement

%table.table
  %tr
    %th #
    %th Recipient
    %th Seen On
    %th Closed
    %th
  - @announcement_recipients.each_with_index do |ar, idx|
    %tr
      %td= idx+1
      %td= link_to ar.recipient.name, user_path(ar.recipient)
      %td= display_date(ar.updated_at) 
      %td= ar.showable ? "No" : "Yes"
      %td= btn_link_to("Resend", user_announcement_message_resend_path(ar.recipient, ar.message),  method: :post) unless ar.showable
