.well
  %h4
    Sent To: #{recipients @announcement}
  %h5
    From: #{@announcement.author.name}
  %p
    = @announcement.content
  - unless @announcement.link.nil?
    %br
    = link_to "More", @announcement.link
  - if @announcement.attachment?
    %br
    = link_to @announcement.attachment_file_name, @announcement.attachment.url, target: "_blank"


-# = link_to 'Announcements', announcement_messages_path
