= simple_form_for(@group, wrapper: :bootstrap) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name

    %h3 Users 

    .row-fluid
      .span5
        = f.input :possible_members, label: "Possible Members", as: :select, collection: @group.possible_members, input_html: {size: 5, multiple: true}

      .span2.group_manage_buttons
        -# TODO: refactor this javascript nightmare
        = link_to content_tag(:i,"", class: "icon-chevron-right"), "#" , id: "add", class: "btn"
        %br
        = link_to content_tag(:i, "", class: "icon-chevron-left"), "#" , id: "remove", class: "btn"
        %br

      .span5= f.association :users, label: "Already in the Group", collection: @group.group_members

  .form-actions
    = f.button :submit

:javascript
  $(document).ready(function() {
    $('#add').click(function() {
    return !$('#group_possible_members option:selected').remove().appendTo('#group_user_ids');
    });
  $('#remove').click(function() {
    return !$('#group_user_ids option:selected').remove().appendTo('#group_possible_members');
    });
  });
