%h1 Listing groups

%table#groups.table
  %thead
    %th Name
    %th
  %tbody
    - @groups.each do |group|
      %tr
        %td= link_to group.name, group
        %td{width: '200px'}
          = btn_link_to 'Edit', edit_group_path(group)
          = link_to group, :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-danger' do
            %i.icon-remove

%br

.well
  = btn_link_to 'New Group', new_group_path
