.page-header
  %h1= h @group.name
  .well
    %p
      %ul
        - @group.group_members.each do |u|
          %li= h u.name

= btn_link_to 'Edit', edit_group_path(@group)
= btn_link_to 'Groups', groups_path
