.page-header
  %h1 Managing Users

%table#user_list.table.users
  %thead
    %th User
    %th Roles
    %th Groups
    %th Signed Up
    %th Last Login
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.name, user
        %td= list_of_roles user
        %td= list_of_groups user
        %td= user.created_at.to_date
        %td= user.last_sign_in_at
