= simple_form_for(@user, url: user_change_path(@user)) do |f|
  .page-header
    %h1
      = h @user.name
      %small= list_of_roles @user

  .row
    .span4
      %img{ src: '/images/unknown_user.png'}

    .span8
      %p
        %h3 Information
        %dl
          %dt Bio:
          %dd &nbsp;
          %dt Email:
          %dd #{ @user.email if @user.email}

          - unless @user.profile.nil?
            %dt Phone:
            %dd= #{ @user.profile }

      %h3 Roles

      = render partial: 'shared/list_of_roles', locals: { user: @user }

      %h3 Groups

      = render partial: 'shared/list_of_groups', locals: { user: @user }

      .form-actions
        = f.button :submit, class: 'btn-primary'
