%h2
  Forgot your password?
  %small Get the instruction on how to reset it.

.well
  = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, class: 'form-horizontal' }, wrapper: :bootstrap) do |f|
    = f.error_notification
    .form-inputs
      = f.input :email, :required => true
    .form-actions
      = f.button :submit, "Send", class: 'btn btn-primary'
= render "devise/shared/links"
