-# List of roles on the form
- Group.all.each do |group|
  -# %div{ class: "input checkbox_buttons optional"}
  %label{class: "checkbox"}
    - input_attrs = { type: "checkbox", value: "#{group.name}", name: "groups[]", class: "checkbox_buttons"}
    - unless can? :manage, Group
      - input_attrs[:disabled] = true

    - if group.users.include? user
      %input{ input_attrs, checked: "checked"}
        #{group.name}
    - else
      %input{input_attrs}
        #{group.name}
