-# First drop-down with main roles
= f.association :roles, :collection => Role.main_roles, label_method: :name, value_method: :id, include_blank: false, input_html: { multiple: false, size: 1 }, wrapper: :nolabels

-# List of other roles on the form
- if Role.other_roles.size > 0
  %h5 Activities
- Role.other_roles.each do |role|
  %label{class: "checkbox"}
    - input_attrs = { type: "checkbox", value: "#{role.name}", name: "roles[]", class: "checkbox_buttons"}
    - unless can? :manage, Role
      - input_attrs[:disabled] = true

    - if user.has_role? role.name
      %input{input_attrs, checked: "checked"}
        #{role.name}
    - else
      %input{input_attrs}
        #{role.name}

