-#
-# Incoming parameters: 
-# recipient_list_label - what we put in the label for a dropdown
-# sendable - we pass recipient_type and recipient back to the controller as keys of this hash in params hash
-#
= content_tag :div, class: 'control-group' do
  = content_tag :div, class: 'controls' do
    - Click::Sendable::RECIPIENT_TYPES.each do |type|
      = content_tag :label, class: 'radio inline' do
        = radio_button_tag "#{sendable}[recipient_type]", type, false,  onchange: "recipient_list('#{type}');"
        = "#{type}"

= content_tag :div, class: "control-group select required" do
  = content_tag :label, class: "select required control-label", for: 'recipient' do
    = "#{recipient_list_label}"
  = content_tag :div, class: "controls" do
    = select_tag :recipient, nil, { name: "#{sendable}[recipient]", class: "select required"}

:javascript
  function recipient_list ( type ) {
    $.ajax({
      url: "#{user_recipient_list_path(current_user)}",
      data: {
        recipient_type : type
      },
      dataType: "script"
    });
  }
