= render partial: 'announcement_messages/user_announcements', locals: { announcements: @announcements }

.page-header#tab-title

.tabbable.tabs-left
  %ul.nav.nav-tabs
    %li.active
      %a{href: '#announcements-tab', data: {toggle: 'tab'}} Announcements
    -# Quizzes
    - if can? :receive, Quiz
      %li
        %a{href: '#quizzes-tab', data: {toggle: 'tab'}}
          Quizzes
          - if has_quiz_assignments?
            %span.badge.badge-info= number_of_quiz_assignments

    -# Reports Submission
    - if can? :create, ReportSubmission
      %li
        %a{href: '#reports-submit-tab', data: {toggle: 'tab'}}
          Reports
          - if has_report_assignments?
            %span.badge.badge-info= number_of_report_assignments
    -# Reports Viewing
    - if can? :view, ReportSubmission
      %li
        %a{href: '#reports-view-tab', data: {toggle: 'tab'}}
          Reports
          - if has_report_submissions?
            %span.badge.badge-info= numbers_of_report_submissions
    %li
      %a{href: '#conversations-tab', data: {toggle: 'tab'}}
        Conversations
        - if has_new_conversations?
          %span.badge.badge-info= number_of_new_conversations

    -# Form Filling
    - if can? :take, PaperForm
      %li
        %a{href: '#forms-tab', data: {toggle: 'tab'}}
          Forms
          - if has_form_assignments?
            %span.badge.badge-info= number_of_form_assignments
  .tab-content
    .tab-pane.active#announcements-tab
      %section
        .page-header.undisplayable
          %h3 Announcements
        - if has_announcements?
          = render 'announcement_messages/home_page_announcements'
        - else
          .page-header
            %h3
              %small No Announcements

    -# Quizzes
    - if can? :receive, Quiz
      .tab-pane#quizzes-tab
        %section#quizzes
          .page-header.undisplayable
            %h3
              Quizzes
              %small
                assigned to you

          - if has_quiz_assignments?
            = render 'quizzes/home_page_quizzes'
          - else
            .page-header
              %h3
                %small No quiz has been assigned

    -# Report Submission
    - if can? :create, ReportSubmission
      .tab-pane#reports-submit-tab
        %section#report_assignments
          .page-header.undisplayable
            %h3
              Reports
              %small assigned to you to submit

          - if has_report_assignments?
            = render 'teacher/report_submissions/home_page_reports'
          - else
            .page-header
              %h3
                %small No Reports to submit

    -# Report Viewing
    - if can? :view, ReportSubmission
      .tab-pane#reports-view-tab
        %section#reports
          .page-header.undisplayable
            %h3
              Reports
              %small that have been sent to you
          - if has_report_submissions?
            = render 'parent/report_submissions/home_page_reports'
          - else
            .page-header
              %h3
                %small No Reports submitted

    .tab-pane#conversations-tab
      -# TODO: add message viewing authorization
      %section#messages
        .page-header.undisplayable
          %h3
            Conversations
            %small
              Received conversations
        = render 'conversations/home_page_conversations'

    -# Form Filling
    - if can? :take, PaperForm
      .tab-pane#forms-tab
        %section#forms
          .page-header.undisplayable
            %h3
              Forms
              %small
                Latest forms that require your attention
          - if has_form_assignments?
            = render 'paper_forms/home_page_forms'
          - else
            .page-header
              %h3
                %small No Forms To Fill

:javascript
  // upon loading the page check the active tab and get the
  // page-header from there
  $(document).ready(function(){
    $('#tab-title').html($('.tab-pane.active .page-header').html());
  })
  // changes tab-title based on the selected tab
  $('a[data-toggle="tab"]').on('shown', function (e) {
    var aTab = e.target.toString(); // activated tab
    aTab = aTab.substring(aTab.lastIndexOf('#'));
    $('#tab-title').html($(aTab + ' .page-header').html());
  })
