.page-header
  %h1 About Us

%p Click2Interact helps to provide a communication between parents, teachers and students in the school or child development center using modern technology.

%h4 Here are some benefits we are working to provide:
%ul
  %li Reduced paperwork
  %li Accurate assessment of the child's needs and abilities

