.hero-unit
  .page-header
    %h1 Welcome To Click2Interact
  .row-fluid
    .span6
      %img{src: '/images/bb-apple.jpg'}
    .span6
      %p
        %b Click2interact
        is a web application that allows teachers, students and their parents communicate in the easy and most efficient manner.

      %p Every day, teachers make countless real-time decisions and facilitate dozens of interactions between themselves and their students. Although they share this commonality, educators all over the country often talk about these decisions and interactions in different ways.

      %p.signup
        = link_to new_user_registration_path, :title => "Register for Click2Interact System", :class => "btn btn-success" do
          %strong Sign Up
