.page-header
  %h1
    TERMS AND CONDITIONS OF USE
  %h3
    THESE TERMS CONTAIN IMPORTANT DISCLAIMERS AND LEGAL INFORMATION

%h3 1. USER AGREEMENT

%p
  Click2Interact Company (“Copmany”, “we” or “us”) maintains this site (“Site”), among other reasons, to help parents, teachers and principals at schools and child development centers communicate with one another through different means  (collectively, the “Services”), subject to these Terms and Conditions of Use (the “Terms”) and our privacy policy (the “Privacy Policy” and together with the Terms, the “Agreements”). By accessing or using the Site or the Service, you express your consent to, agreement with, and understanding of the Agreements and conclude a legally binding contract with Click2Interact. We may, in our sole discretion, modify, restrict, change, or otherwise alter the Agreements, the Site, or the Services, in whole or in part, impose limits on certain features of the Site or the Services, restrict your access to part or all of the Site or terminate any or all Services. By continuing to access and use the Site and the Services you will be evidencing your consent to, agreement with, and understanding of, such modifications, changes or alterations. We may not notify you of changes, alterations or modifications to the Agreements. Because we reserve these rights, you should visit this page periodically to review the Agreements.

%h3 2. LIMITED LICENSE

%p Subject to the terms and conditions set forth in the Agreements, Click2Interact hereby grants to you, and you hereby accept, a personal, nonexclusive, non-transferable, non-sublicensable, revocable, limited license to access and make personal use of the Site and the Services. The license shall be granted until terminated in accordance with these Terms. Except as specifically permitted by these Terms, you agree not to: (i) sell, license (or sub-license), lease, assign, transfer, pledge, or share any of your rights under these Terms with/to anyone else; (ii) modify, disassemble, decompile, reverse engineer, revise or enhance all of any part of the Site or the Services or create any derivative works or otherwise merge or utilize all of any part of the Services or the Site with or into other computer programs or other materials or attempt to discover all or any part of the Site source code; or (iii) copy, print, display, publish or transmit all or any part of the Site or the Services.

%p Last Updated on January, 11 of 2013
