= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'login-box' }) do |f|
  = image_tag "/images/login-logo.png", :width => "304", :height => "66", :class => "login-logo", :alt => "Login Logo"
  = f.email_field :email, :class => "text top", :placeholder => "Email", :autofocus => "autofocus"
  = f.password_field :password, :class => "text bottom", :placeholder => "Password"
  - if devise_mapping.rememberable?
    .clearfix.inputs-list
      %label.checkbox.remember_me{:for => "user_remember_me"}
        = f.check_box :remember_me
        %span Remember me
  %br/
  = f.submit "Sign in", :class => "btn-primary btn"
  .pull-right
    = link_to "Forgot your password?", new_password_path(resource_name), :class => "btn"
  %br/
  %br/
