%h2 Text Messages
%p This is list of text messages sent to other users.

- unless @sms_list.empty?
  %table#text_messages.table
    %thead
      %th Recipients
      %th Content
    %tbody
      - @sms_list.each do |sms|
        %tr
          %td= sms.recipients.map {|u| u.name }.join (", ")
          %td= sms.content
          %td= link_to "Delete", sms, :method => :delete, :class => 'btn btn-danger'

.form-actions
  = link_to "New", new_text_message_path, :class => 'btn'
