%h2 Send Text Message

= simple_form_for :text_message, :url => :text_messages do |f|
  = f.error_notification

  .form-inputs
    -#= f.input :people, :input_html => { :class => 'span6' }
    = render partial: 'shared/user_or_group', locals: { recipient_list_label: "Send To", sendable: "text_message"}
    = f.input :content, :as => :text, :input_html => {:rows => 3, :class => 'span6'}

  .form-actions
    = f.button :submit, "Send", class: 'btn-primary'
    = link_to 'Back', text_messages_path, class: 'btn btn-danger'

