.page-header
  %h1
    Reports Templates
    %small available for filing and submission

  %table.table
    %thead
      %th #
      %th Title
      %th Description
      %th Assignments
      %th

    - @reports.each_with_index do |report, i|
      %tr
        %td= i+1
        %td= link_to report.title, edit_admin_report_path(report)
        %td= report.description
        %td= link_to report.assignments.count, report_assignments_path(report)
        %td
          .btn-group
            %a.btn.dropdown-toggle{data: { toggle: "dropdown"}, href: "#"}
              Action
              %span.caret
            %ul{class: 'dropdown-menu'}
              %li
                = link_to "Delete", admin_report_path(report), confirm: "Are you sure?", method: :delete
              %li
                = link_to "Assign", new_report_assignment_path(report)

  .form-actions
    = btn_link_to "New Report", new_admin_report_path
