.page-header
  %h1
    New Report
    %small
      %strike upload
      or edit the report script

  = simple_form_for @report, :url => admin_reports_path, :method => :post  do |f|
    %textarea{ name: 'source', rows: "10", class: 'span8'}
      = @source

    .form-actions
      = f.button :submit
