%table.table#home_page_reports
  %thead
    %th Title
    %th Due Date
    %th
  %tbody
    - @report_assignments.each do |assignment|
      %tr
        %td= link_to assignment.assignable.title, assignment.assignable
        %td= l assignment.due_date, format: :medium
        %td= btn_link_to 'Submit', new_teacher_report_report_submission_path(assignment.assignable)
