.page-header
  %h1
    Reports
    %small assigned to you

  %table.table
    %thead
      %th #
      %th Title
      %th Description
      %th Due Date
      %th Submissions
      %th

    - @assignments.each_with_index do |assignment, i|
      %tr
        %td= i+1
        %td= assignment.assignable.title
        %td= assignment.assignable.description
        %td= l assignment.due_date, format: :medium
        %td= link_to "Submissions (#{ assignment.assignable.report_submissions.submitted_by(current_user).size})", teacher_report_report_submissions_path(assignment.assignable)
        %td
          = btn_link_to "Submit", new_teacher_report_report_submission_path(assignment.assignable)

