.page-header
  %h1
    = h @report.title
    = h @report.description

= simple_form_for(@report_submission, url: teacher_report_report_submissions_path(@report), html: { class: 'form-horizontal' }, wrapper: :bootstrap )  do |f|

  = f.error_notification
  - @report_submission.sections.each do |s|
    .well
      %h3
        = s.section.title
        %small= s.section.description

      - s.entries.each do |entry|
        %p

          = f.simple_fields_for(:report_submission_entries, entry, html: {class: 'form-horizontal'}, wrapper: :bootstrap) do |entry_form|
            = entry_form.hidden_field :report_entry_id
            -# TODO: refactor types
            - case entry.report_entry.entry_type
              - when 'string'
                = entry_form.input :string_value, label: h(entry.report_entry.content)
              - when 'text'
                = entry_form.input :text_value,  label: h(entry.report_entry.content), input_html: { rows: 5}
              - when 'integer'
                = entry_form.input :integer_value,  label: h(entry.report_entry.content)
              - when 'float'
                = entry_form.input :float_value,  label: h(entry.report_entry.content)
              - when 'date'
                = entry_form.input :date_value,  label: h(entry.report_entry.content), as: :date_picker
              - when 'choice'
                = entry_form.association :choice_value, label_method: :content,  as: :radio_buttons, collection: ReportEntryChoice.where(report_entry_id: entry.report_entry),  label: h(entry.report_entry.content)
              - when 'user'
                = entry_form.association :user_value, label_method: :name, collection: entry.report_entry.user_value_options,  label: h(entry.report_entry.content)
              - when 'group'
                = entry_form.association :group_value, label_method: :name,  label: h(entry.report_entry.content)
  .form-actions
    = f.button :submit, 'Submit Report', class: 'btn-primary'


