.page-header
  %h1
    = h @report_submission.report.title
    %small= h @report_submission.report.description

- @report_submission.sections.each do |s|
  .well
    %h3
      = s.section.title
      %small= s.section.description
    - s.entries.each do |entry|
      %p
        = h entry.report_entry.content

        - if entry.report_entry.entry_type == 'choice'
          %ol
            - entry.report_entry.report_entry_choices.each do |choice|
              - if entry.choice_value == choice
                %li
                  %strong= h choice.content
              - else
                %li= h choice.content
        - else
          %strong= h entry.to_s
