.page-header
  %h1
    #{h @report.title}
    %small submissions

  %ul.nav.nav-tabs
    %li{class: "#{params[:ago].to_i == 0 and params[:ago] ? 'active' : ''}"}
      %a{href: teacher_report_submissions_path(@report, ago: 0)} Today
    %li{class: "#{params[:ago].to_i == 1 ? 'active' : ''}"}
      %a{href: teacher_report_submissions_path(@report, ago: 1)} Yesterday
    %li{class: "#{params[:ago].to_i == 2 ? 'active' : ''}"}
      %a{href: teacher_report_submissions_path(@report, ago: 2)} 2 Days Ago
    %li{class: "#{params[:ago].to_i == 3 ? 'active' : ''}"}
      %a{href: teacher_report_submissions_path(@report, ago: 3)} 3 Days Ago
    %li{class: "#{ params[:ago].nil?  ? 'active' : ''}"}
      %a{href: teacher_report_submissions_path(@report)} All

  - unless @report_submissions.empty?

    %table.table
      %thead
        %th #
        %th Child
        %th Date/Time
        %th

      - @report_submissions.each_with_index do |report_submission, i|
        %tr
          %td= i+1
          %td= report_submission.child
          %td= l report_submission.updated_at, format: :long
          %td
            = btn_link_to "View", teacher_report_report_submission_path(@report, report_submission)
            = btn_link_to "×", teacher_report_report_submission_path(@report, report_submission), confirm: 'Are you sure?', method: :delete

