= simple_form_for(@user, :wrapper => :bootstrap, url: form_url) do |f|
  .page-header
    %h1
      = h @user.name
      %small= list_of_roles @user

  = f.error_notification
  .row
    .span4
      %img{ src: '/images/unknown_user.png'}

    .span8
      %p
        %h3 Information
        = f.input :name
        = f.input :bio, :input_html => {class: 'span6', :rows => 3}
        - unless @user.profile.nil?
          = f.simple_fields_for :profile  do |prof|
            = prof.input :phone
            = prof.input :carrier, :collection => Profile::CARRIERS

      %h3 Groups

      = render partial: 'shared/list_of_groups', locals: { user: @user }

      .form-actions
        = f.button :submit, class: 'btn-primary'

