- html_options = {}
- html_options = html_opts if defined? html_opts

= simple_form_for(@user, :wrapper => :bootstrap, url: form_url, html: html_options) do |f|
  .page-header
    %h1
      = h @user.name
      %small= list_of_roles @user

  = f.error_notification
  .row
    .span4
      %img{ src: '/images/unknown_user.png'}

    .span8
      %ul.nav.nav-tabs#usersTabs
        %li.active
          %a{ href: "#account", data: { toggle: 'tab'}} Account
        %li
          %a{ href: "#profile", data: { toggle: 'tab'}} Profile

      .tab-content
        .tab-pane.fade.active.in#account
          %h3 Account Information
          = f.input :name
          = f.input :email
          -# for first time users we could set a PIN, but it is ignored after user signed in
          - unless @user.sign_in_count > 0
            = f.input :pin, hint: "set user's PIN for PIN-able sign-up"
          - if defined? password_changeable and password_changeable
            = f.input :password, hint: "(leave blank if you don't want to change it)", input_html: {:autocomplete => "off"}
            = f.input :password_confirmation

          %h3 Roles
          = render partial: 'shared/list_of_roles', locals: { user: @user, f: f }

          %h3 Groups
          = render partial: 'shared/list_of_groups', locals: { user: @user }


        .tab-pane.fade#profile
          %h3 Personal Information
          - unless @user.profile.nil?
            = f.simple_fields_for :profile  do |prof|
              = prof.input :phone
              = prof.input :surname
              = prof.input :dob, label: "Date Of Birth", as: :date_picker
              = prof.input :bio, :input_html => {class: 'span6', :rows => 3}

          -# TODO: refactor this children management code.
          - if @user.has_role? :parent
            %h3
              Parent
              %small information about children
            %h5 Children: #{ h @user.children.map(&:name).join(", ") }
            - if can? :manage, :children
              = f.association :children, collection: User.all_children, wrapper: :nolabels
            - else
              = f.association :children, collection: User.all_children, wrapper: :nolabels, disabled: true
            - if can? :manage, :children
              - if defined? child_new_url
                = btn_info_link_to "Add New Child", child_new_url
              - else
                = btn_info_link_to "Add New Child", admin_user_new_child_path(@user)

      .form-actions
        = f.button :submit, class: 'btn-primary'
