/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap-datepicker
 *= require dataTables/jquery.dataTables.bootstrap
 *= require_self
 *= require_tree .
 */
@import "font-awesome";
@import "compass";

$footerHeight: 100px;

@mixin letterpress($opacity){
  text-shadow:white($opacity) 0 1px 0;
}

.navbar a.brand {
  font-weight: bolder;
  @include letterpress(80%);
}

.content {
  /* background-color: #eee; */
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  @include border-radius(6px);
  @include box-shadow(0, 1px, 2px, rgba(0,0,0,.15));
}

html, body  {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom: $footerHeight; /* this needs to be bigger than footer height*/
  margin-bottom: 2em;
}

.footer{
  position: relative;
  margin-top: -$footerHeight; /* negative value of footer height */
  height: $footerHeight;
  clear:both;
  padding-top:20px;
  background-color: #F5F5F5;
  border-top: 1px solid #E5E5E5;
  a {
    font-weight: bolder;
  }
}

.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}

.navbar .nav .dropdown-toggle .caret, .navbar .nav .open.dropdown .caret {
  border-top-color: white;
  border-bottom-color: white;
}


/* Login Page */
body.login-page{
  padding-top: 10%;
  background: #f1f1f1;
}

.login-box{
  width: 304px;
  position: relative;
  @include border-radius(5px);
  margin: auto;
  padding: 20px;
  background: white;
}

.login-box .login-logo{
  margin: 10px 0 30px 0;
  display: block;
}

.login-box input.text{
  background-color: #f1f1f1;
  font-size: 16px;
  @include border-radius(0); padding: 14px 10px; width: 280px
}

.login-box input.text.top{
  @include border-radius(5px 5px 0 0);
  margin-bottom: 0px;
}

.login-box input.text.bottom{
  @include border-radius(0 0 5px 5px);
  border-top: 0;
  margin-bottom: 20px;
}

.login-box input.text.middle{
  border-top: 0;
  margin-bottom:0px;
}

.login-box a.forgot{float: right; padding-top: 6px}

span.small {
  font-size: 70%;
}

/* This is rule that makes font icons go on the same baseline as a link in navbar. */

.nav [class^="icon-"], .nav [class*=" icon-"] {
    display: inline;
    line-height: 1.4em;
}
