// Place all the styles related to the Assignment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table tbody tr.success td {
    background-color: #DFF0D8;
}

.table tbody tr.warning td {
    background-color: #FCF8E3;
}

.table tbody tr.error td {
    background-color: #F2DEDE;
}

.table tbody tr.info td {
    background-color: #D9EDF7;
}

