// Place all the styles related to the conversations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users-list {
  float:right;
  margin-top: -400px;
  margin-right: 130px;  
}

ul.conversation_trail {
  margin: 0 0 9px;
}

.receipt {
  margin-top: 5px;
  padding: 5px;
  max-width: 80%;
  background-color: #FFFFFF;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.267);
  list-style-type: none;
}
