// Place all the styles related to the PaperForms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nested-fields {
  border-top:  1px solid #E5E5E5;
  background-color: whitesmoke;
  padding-top: 10px;  
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.add-article-action {
  padding-left: 160px;
}

.add-reply-action {
  padding-left: 160px;
  visibility: hidden;
}

.remove-article {
  margin: 10px;
}

.replies {
  padding-left: 160px;
}

