// Place all the styles related to the quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin box-emboss($opacity, $opacity2){
  box-shadow:white($opacity) 0 1px 0, inset black($opacity2) 0 1px 0;
}

.questions {
  @include box-emboss(0.8, 0.05);
}

.possible-answers {
  margin-left: 15px;
}
.add-answers {
}

.possible-answer {
  .control-label {
    text-align: left;
  }
}
.remove-question {
  float: right;
  padding: 5px;
}
