.page-header
  %h1 Managing Users

%table#admin_user_list.table.users
  %thead
    %th Name
    %th Email
    %th Roles
    %th Groups
    %th Signed Up
    %th Last Login
    %th{ span: "3" }
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.name, admin_user_path(user)
        %td= user.email
        %td= list_of_roles user
        %td= list_of_groups user
        %td= user.created_at.to_date
        %td= distance_of_time_in_words_to_now(user.last_sign_in_at) + " ago" if user.last_sign_in_at
        %td
          = link_to admin_user_path(user), method: :delete, class: 'btn btn-danger', title: "Delete User" do
            %i.icon-remove
        %td
          - unless user.approved?
            = link_to approve_admin_user_path(user), method: :post, class: 'btn btn-info', title: "Approve New User" do
              %i.icon-ok
          - else
            = link_to disapprove_admin_user_path(user), method: :post, class: 'btn', title: "Disapprove User" do
              %i.icon-thumbs-down
        %td
          = link_to notify_admin_user_path(user), method: :post, class: 'btn', title: "Send confirmation email" do
            %i.icon-envelope

.form-actions
  .row-fluid
    .span2
      = btn_link_to "New User", new_admin_user_path
    .span2.pull-right
      = link_to "Upload User List", new_admin_user_import_path
