.nested-fields.articles
  = f.input :content, label: 'Question', input_html: { rows: 3, class: 'span5' }
  = f.input :response_type, collection: %w(string integer float choice), selected: 'string', input_html: { onchange: "Application.show_choice_controls(this);" }
  = f.simple_fields_for :replies do |ff|
    = render 'reply_fields', f: ff

  .add-reply-action
    = link_to_add_association 'Add Options', f, :replies, { class: 'btn' }

  .remove-article
    = link_to_remove_association "Remove Question", f, { class: 'btn btn-danger' }
