= simple_form_for @paper_form, :wrapper => :bootstrap, :html => { :class => 'form-horizontal' } do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    .form-articles
      = f.simple_fields_for :articles do |ff|
        = render 'article_fields', f: ff
      .add-article-action
        = link_to_add_association 'Add Question', f, :articles, { class: 'btn' }

  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = btn_link_to "Cancel", :back
