.tabbable
  %ul.nav.nav-tabs#form_status_tab
    %li.active
      %a{href: "#pending", data: {toggle: "tab"}} Pending
    %li
      %a{href: "#completed", data: {toggle: "tab"}} Completed

  .tab-content
    .tab-pane.active#pending
      %table.home_page_forms.table
        %thead
          %th Title
          %th Due Date
          %th Status
          %th
        %tbody
          - @form_assignments.pending.each do |assignment|
            %tr
              %td= link_to assignment.assignable.title, assignment.assignable
              %td= l assignment.due_date, format: :medium
              %td= assignment_status(assignment)
              %td
                - if can? :fill, PaperForm
                  = btn_link_to 'Fill The Form', take_paper_form_assignment_path(assignment.assignable, assignment)

    .tab-pane#completed
      %table.home_page_forms.table
        %thead
          %th Title
          %th Due Date
          %th Status
          %th
        %tbody
          - @form_assignments.completed.each do |assignment|
            %tr
              %td= link_to assignment.assignable.title, completed_paper_form_assignment_path(assignment.assignable, assignment)
              %td= l assignment.due_date, format: :medium
              %td= assignment_status(assignment)
              %td

