.page-header
  %h1 
    Forms
    %small Forms that you have authored and/or can send for completion to other users.

%p.text-info

%table.table#paper_forms
  %thead
    %th Title
    %th Created
    %th Author
    %th
    %th
    %th
  %tbody
    - @paper_forms.each do |paper_form|
      %tr
        %td= link_to paper_form.title, paper_form
        %td= l paper_form.created_at, format: :medium
        %td= paper_form.author.name
        %td= link_to 'Assignments', paper_form_assignments_path(paper_form)
        %td= paper_form.assignments_completed?
        %td
          - if can? :edit, PaperForm
            = btn_link_to 'Edit', edit_paper_form_path(paper_form)
          = btn_link_to 'Assign', new_paper_form_assignment_path(paper_form)
          - if can? :delete, PaperForm
            = link_to paper_form, :confirm => 'Are you sure?', :method => :delete , class: 'btn btn-danger' do
              %i.icon-remove

.well
  = btn_link_to 'New Paper form', new_paper_form_path
