.page-header
  %h1= h @paper_form.title

- @paper_form.articles.each do |article|
  -# = render 'article_show', locals: { article: article }
  .well
    %p
      = h article.content

    %ol
      - article.replies.each do |reply|
        %li= h reply.content

.well
  - if can? :edit, PaperForm
    = btn_link_to 'Edit', edit_paper_form_path(@paper_form)
  = btn_link_to "Show Forms", paper_forms_path
  - if can? :assign, PaperForm
    = btn_link_to 'Assign', new_paper_form_assignment_path(@paper_form)
