%ul.nav.nav-pills
  -# TODO: refactor it
  = nav_active_if /admin$|users/ =~ request.fullpath do
    = link_to 'Users', admin_users_path
  -# TODO: refactor it
  = nav_active_if /reports/ =~ request.fullpath do
    = link_to 'Reports', admin_reports_path
