/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/[if gt IE 8]<!--> <html class="no-js" lang="en"> <!--
%head
  %head
    %meta{ charset: "utf-8"}
    %meta{ :'http-equiv' => "X-UA-Compatible", content: "IE=edge,chrome=1"}
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : "Click2interact"
    %meta{ name: "description", content: "Click2Interact children education facility"}
    %meta{ name: "author", content: "Evgeniy N. Sharapov"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    -# /[if lt IE 9]
      %script{ src: "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    = csrf_meta_tags
