- flash.each do |name, msg|
  - if [:notice, :error, :warning, :alert].include?(name)
    - messages = [msg]
    - messages.flatten!
    - messages.each do |message|
      = content_tag :div, class: "alert alert-#{(name == :notice ? 'success' : 'error')}" do
        = content_tag :a, class: "close", href: '#', data: { dismiss: "alert" } do
          &#215;
        = content_tag :div, message, :id => "flash_#{name}" if message.is_a?(String)
