%button{ type: "button", class: "btn btn-navbar collapsed",  data: { toggle: "collapse",target: ".nav-collapse"}}
  - (1..3).each do |n|
    %span{ class: "icon-bar"}

= link_to "Click2interact", root_path, class: 'brand'
.nav-collapse.collapse
  - if user_signed_in?
    %ul.nav
      %li.divider-vertical
      - if can? :manage, Quiz
        -# TODO: refactor this
        = nav_active_if /^\/quiz/ =~ request.fullpath do
          = link_to "Quizzes", quizzes_path
        %li.divider-vertical

      -# TODO: refactor this
      = nav_active_if /^\/(forms|reports)/ =~ request.fullpath, "dropdown" do
        = link_to "#", class: "dropdown-toggle", data: { toggle: "dropdown"} do
          %i.icon-th-list.icon-black
          Forms
          %b.caret
        %ul.dropdown-menu{ role: "menu" }
          - if can? :manage, PaperForm
            %li= link_to "Assignable Forms", paper_forms_path
          - if can? :submit, ReportSubmission
            %li= link_to "Reports", teacher_reports_path
          - if can? :view, ReportSubmission
            %li= link_to "Reports", parent_reports_path

      %li.divider-vertical

      -# TODO: refactor this
      = nav_active_if /^\/(conversations|sms|announcements)/ =~ request.fullpath, "dropdown" do
        = link_to "#", class: "dropdown-toggle", data: { toggle: "dropdown"} do
          %i.icon-comment.icon-black
          Communication
          %b.caret
        %ul.dropdown-menu{ role: "menu" }
          %li= link_to "Conversations", conversations_path
          - if can? :manage, TextMessage
            %li= link_to "Text Messages", text_messages_path
          - if can? :manage, Announcement
            %li= link_to "Announcements", announcement_messages_path
      %li.divider-vertical
      - if can? :manage, Group
        -# TODO: refactor this
        = nav_active_if /^\/groups/ =~ request.fullpath do
          = link_to "Groups", groups_path


  %ul.nav.pull-right
    - if user_signed_in?
      = nav_active_if /users\/edit$/ =~ request.fullpath, "dropdown" do
        = link_to "#", class: "dropdown-toggle", data: { toggle: "dropdown"} do
          %i.icon-user.icon-black
          = current_user.name
          %b.caret
        %ul.dropdown-menu{ role: "menu" }
          %li= link_to 'Profile', edit_user_registration_path
          %li= link_to 'Logout', destroy_user_session_path, :method=>'delete'

    - else
      %li= link_to 'Login', new_user_session_path

    - if user_signed_in? and current_user.has_role? :admin
      -# TODO: refactor this
      = nav_active_if /^\/admin/ =~ request.fullpath do
        = link_to 'Admin', admin_root_path

    - unless user_signed_in?
      %li= link_to 'Sign up', new_user_registration_path
