%ul.nav.nav-list.c2i-sidenav.affix
  %li
    %a{:href => "#{quizzes_path}"}
      %i.icon-chevron-right
      Quizzes

  %li
    %a{:href => "#{conversations_path}"}
      %i.icon-chevron-right
      Conversations

  %li
    %a{:href => "#{paper_forms_path}"}
      %i.icon-chevron-right
      Forms

  %li
    %a{:href => "#{text_messages_path}"}
      %i.icon-chevron-right
      Text Messages
