%button{ type: "button", class: "btn btn-navbar collapsed",  data: { toggle: "collapse",target: ".nav-collapse"}}
  - (1..3).each do |n|
    %span{ class: "icon-bar"}

= link_to "Click2interact", root_path, class: 'brand'
.nav-collapse.collapse
  %ul.nav.pull-right
    %li= link_to 'Login', new_user_session_path
