!!! 5
%html
  = render 'layouts/head'
  %body{ data: { target:"c2i-sidebar", spy: "scroll" }}
    #wrap
      %header.navbar.navbar-fixed-top
        %nav.navbar-inner{class: "#{role_css_class(current_user)}"}
          .container
            = render 'layouts/navigation'

      %div{id: "main", role: "main"}
        .container
          .content
            = render 'layouts/messages'
            = render 'layouts/admin_tabs'
            = yield

    %footer.footer
      .container
        %p.pull-right= link_to "Back to top", "#"
        %p Click2Interact  © 2012
