!!! 5
= render 'layouts/head'
%body{ data: { target:"c2i-sidebar", spy: "scroll" }}
  /[if lt IE 7]
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>

  #wrap
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner{class: "#{role_css_class(current_user)}"}
        .container
          = render 'layouts/navigation'

    %div{id: "main", role: "main"}
      .container
        .content
          = render 'layouts/messages'
          = yield

  %footer.footer
    .container
      %p.pull-right= link_to "Back to top", "#"
      %p Click2Interact  © 2012

:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38329068-1']);
  _gaq.push(['_setDomainName', 'click2interact.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
