!!! 5
%html
  = render 'layouts/head'
  %body
    #wrap
      %header.navbar.navbar-fixed-top
        %nav.navbar-inner
          .container
            = render 'layouts/welcome_navigation'

      %div{id: "main", role: "main"}
        .container
          .content
            = render 'layouts/messages'
            = yield

    %footer.footer
      .container
        .row
          .span10
            = link_to 'About', about_path
            |
            = link_to 'Terms', terms_path
            |
            = link_to 'Changelog', changelog_path
            |
            = link_to 'FAQ', faq_path
          .span2
            &copy; 2012 by Click2Interact
